<link rel="stylesheet" href="~/Content/Child.css" type="text/css" />
@{
    /**/

    ViewBag.Title = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="addDocumentModal">
    @Html.Partial("~/Views/PartialViews/AddDocumentModal.cshtml")
</div>

<div class="wholeChildPage cont">
    <input type="hidden" id="childIdHidden">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="buttonsBox">
                <div data-toggle="modal" data-target="#create-process-modal" class="create-process-button">
                    @Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "AddProcess" } })
                </div>

                @Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "AddJournalNote" }, { "onClick", "CreateJournalNoteView()" } })
            </div>

            <div class="pendingActivitiesBox">
                @Html.Partial("~/Views/PartialViews/PendingActivities.cshtml")
            </div>
        </div>

        <div class="tabsBox col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <nav aria-label="breadcrumb" class="breadcrumbsNavigation">
                <ol class="breadcrumb arr-right bg-dark ">
                    <li class="breadcrumb-item "><a href="~/MineAdjunkter"><span data-locale data-apply="text" data-key="MyChildren"></span></a></li>
                    <li class="breadcrumb-item active child" aria-current="page"></li>
                </ol>
            </nav>
            <table class="table table-responsive entityDetailTable">
                <tr>
                    <th class="childName"><span id="childName"></span></th>
                    <td><span style="float:right;display:none;" class="caseLink"><a target="_blank" id="entityLink" href="#"><img width="12px" src="../content/images/caseLink.png"></a></span><span style="float:right;display:none;padding-right:10px;" class="caseNum"><span id="childCaseNo"></span></span></td>
                </tr>
            </table>
            <div>
                <div class="chageResFormating responsibleSelectOptions" id="itemResponsible"> <span class="responsibleImgSpan"><img src="~/Content/Images/exchange.png" class="responsibleImg" /></span> <strong id="childResponsibleName" class="linkStyling"></strong></div>

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="pills-activitiesb" data-toggle="tab" href="#pills-activities" role="tab" aria-controls="pills-activities" aria-selected="false"><span data-locale data-apply="text" data-key="AssistantProfessor"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-timeline-tab" data-toggle="tab" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="false"><span data-locale data-apply="text" data-key="Timeline"></span></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade in active" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities">

                        <div class="childInstancesBox">
                            <table class="table tasksTable table-striped" id="tableChildInstances">
                                <thead class="childInstancesHeader">
                                    <tr>
                                        <th type="customSort" width="6%"><span data-locale data-apply="text" data-key="Status"></span></th>
                                        <th style="display:none;" width="140px" type="number"><span data-locale data-apply="text" data-key="Status">StatusNumber</span></th>
                                        <th width="52px" type="customSort"><img src='../Content/Images/priorityicon.svg' height='16' width='16' /></th>
                                        <th style="display:none;" width="140px" type="number"><span data-locale data-apply="text" data-key="Status">PActivityCount</span></th>
                                        <th width=""><a style="color:white" href="#"><span data-locale data-apply="text" data-key="Title"></span></a></th>
                                        <th width="25%"><a style="color:white" href="#"><span data-locale data-apply="text" data-key="DCRProcess"></span></a></th>
                                        <th width="10%"><a style="color:white" href="#"><span data-locale data-apply="text" data-key="Responsible"></span></a></th>
                                        <th type="date" width="10%"><a style="color:white" href="#"><span data-locale data-apply="text" data-key="Opdated"></span></a></th>
                                        <th style="display:none" width="10%"><a style="color:white" href="#"><span data-locale data-apply="text" data-key="Opdated"></span></a></th>
                                    </tr>
                                </thead>
                                <tbody id="childInstances"></tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane fade in" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline">
                        @Html.Partial("~/Views/PartialViews/Timeline.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="stamdataBox">
                @Html.Partial("~/Views/PartialViews/ObsBox.cshtml")
            </div>
        </div>

    </div>
</div>

@Html.Partial("~/Views/PartialViews/AddChildCase.cshtml")
@Html.Partial("~/Views/PartialViews/ResponsibleModal.cshtml")

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        url = url.toLowerCase();
        name = name.toLowerCase();
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

</script>

<script type="text/javascript" src="~/Scripts/breadcrumbs.js"></script>
<script type="text/javascript" src="~/Scripts/createprocess.js"></script>
<script type="text/javascript" src="~/Scripts/child.js"></script>
<script type="text/javascript" src="~/Scripts/journalNoteCreate.js"></script>
<script type="text/javascript" src="~/Scripts/addDocument.js"></script>

<script src="~/Scripts/sortable.js"></script>
<link href="~/Content/sortable.css" rel="stylesheet" />