<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #9C1A5E;
        background-color: #fff;
    }

    .nav-tabs > li.active > a, .nav-tabs > a:hover {
        text-decoration: underline;
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
    }
</style>

@{
    ViewBag.Title = "Instance";
}

@Html.Partial("~/Views/PartialViews/Instruction.cshtml")
@Html.Partial("~/Views/PartialViews/Stamdata.cshtml")
@Html.Partial("~/Views/PartialViews/TasksWithNote.cshtml")

<!--<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="phaseBlock">
            <ul class="phaseUl" id="processPhase"></ul>
        </div>
    </div>
</div>-->

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-responsive entityDetailTable">
            <tr>
                <th class="caseTitle"><span id="instanceTitle"></span></th>
                <td><span style="float:right;display:none;" class="caseLink"><a target="_blank" id="entityLink" href="#"><img width="12px" src="../content/images/caseLink.png"></a></span><span style="float:right;display:none;padding-right:10px;" class="caseNum"><span id="instanceCaseNo"></span></span></td>
            </tr>
        </table>
    </div>
</div><!-- Row End -->

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <flex-container>
            <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="tabs-activitiesb" data-toggle="tab" href="#tabs-activities" role="tab" aria-controls="tabs-activities" aria-selected="false">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabs-timeline-tab" data-toggle="tab" href="#tabs-timeline" role="tab" aria-controls="tabs-timeline" aria-selected="false">Timeline</a>
                </li>
            </ul>
        </flex-container>
        <div class="tab-content" id="tabs-tabContent">
            <div class="tab-pane fade in active" id="tabs-activities" role="tabpanel" aria-labelledby="tabs-activities">
                @Html.Partial("~/Views/PartialViews/Tasks.cshtml")
            </div>
            <div class="tab-pane fade in" id="tabs-timeline" role="tabpanel" aria-labelledby="tabs-timeline">
                @Html.Partial("~/Views/PartialViews/Timeline.cshtml")
            </div>
            <div class="tab-pane fade in" id="tabs-document" role="tabpanel" aria-labelledby="tabs-document">
                @Html.Partial("~/Views/PartialViews/Document.cshtml")
            </div>
        </div>
    </div><!-- Cols Div End -->
</div><!-- Row Div End -->



<script src="~/Scripts/instance.js"></script>

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<script src="~/Scripts/task.js"></script>