<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: black;
        background-color: #fff;
    }

    .nav-pills {
        display: flex;
        justify-content: center;
    }

    .nav-pills .a {
        font-size; 30px;
    }
    .nav-pills > li.active > a, .nav-pills > a:hover {
        text-decoration: underline;
    }

    .nav > li > a {
        color: black;
        font-size: 20px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: underline;
        background-color: white;
    }

    .nav li + li:after {
        content: "";
        position: absolute;
        left: 0;
        border-left: solid 2px black;
        top: 0;
        bottom: 0;
        padding: 0;
    }


    .nav > li > a {
        padding: 0px 15px;
    }

    .nav-pills {
        padding: 15px 15px;
    }

</style>

@{
    ViewBag.Title = "Instance";
}

@Html.Partial("~/Views/PartialViews/Instruction.cshtml")

@Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj dokument" } })
@Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj journalnotat" } })


@Html.Partial("~/Views/PartialViews/Stamdata.cshtml")
@Html.Partial("~/Views/PartialViews/AddJournalNote.cshtml")
@Html.Partial("~/Views/PartialViews/TasksWithNote.cshtml")

<div class="row tableDataRow">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="phaseBlock">
            <ul class="phaseUl" id="processPhase"></ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row tableDataRow">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-responsive entityDetailTable">
                <tr>
                    <th class="caseTitle"><span id="instanceTitle"></span></th>
                    <td><span style="float:right;display:none;" class="caseLink"><a target="_blank" id="entityLink" href="#"><img width="12px" src="../content/images/caseLink.png"></a></span><span style="float:right;display:none;padding-right:10px;" class="caseNum"><span id="instanceCaseNo"></span></span></td>
                </tr>
            </table>
        </div>
    </div><!-- Row End -->

    <div class="row tableDataRow">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="pills-activitiesb" data-toggle="tab" href="#pills-activities" role="tab" aria-controls="pills-activities" aria-selected="false">Activities</a>
                    </li>
               
                    <li class="nav-item">
                        <a class="nav-link" id="pills-timeline-tab" data-toggle="tab" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="false">Timeline</a>
                    </li>
                </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade in active" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities">
                    @Html.Partial("~/Views/PartialViews/Tasks.cshtml")
                </div>
                <div class="tab-pane fade in" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline">
                    @Html.Partial("~/Views/PartialViews/Timeline.cshtml")
                </div>
            </div>
        </div><!-- Cols Div End -->
    </div><!-- Row Div End -->
</div>

@Html.Partial("~/Views/PartialViews/Document.cshtml")

<script src="~/Scripts/instance.js"></script>

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<script src="~/Scripts/task.js"></script>