<style>
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: black;
        background-color: #fff;
    }

    .nav-pills {
        display: flex;
        justify-content: center;
    }

    .nav-pills .a {
        font-size; 30px;
    }
    .nav-pills > li.active > a, .nav-pills > a:hover {
        text-decoration: underline;
    }

    .nav > li > a {
        color: black;
        font-size: 20px;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: underline;
        background-color: white;
    }

    .nav li + li:after {
        content: "";
        position: absolute;
        left: 0;
        border-left: solid 2px black;
        top: 0;
        bottom: 0;
        padding: 0;
    }

    .nav > li > a {
        padding: 0px 15px;
    }

    .nav-pills {
        padding: 15px 15px;
    }

    .wholeActionsPage {
        display: flex;
        flex-direction: row;
    }

    .activitiesTitleBox {
        margin-left: 100px;
    }

    .stamdataBox {       
        margin-top: 20px;
    }

    .buttonsStamdataBox {
        margin: 40px 0px 0px 60px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        border-top: none;
    }
</style>

@{
    ViewBag.Title = "Instance";
}





<div class="wholeActionsPage">
    <div class="buttonsStamdataBox">
        @Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj dokument" } })
        @Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj journalnotat" } })
        <div class="stamdataBox">
            @Html.Partial("~/Views/PartialViews/Stamdata.cshtml")
        </div>
    </div>

    <div class="activitiesTitleBox">
        <div class="row tableDataRow">
            <table class="table table-responsive entityDetailTable">
                <tr>
                    <th class="caseTitle"><span id="instanceTitle"></span></th>
                </tr>
            </table>
        </div><!-- Row End -->

        <div class="row tableDataRow">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="pills-activitiesb" data-toggle="tab" href="#pills-activities" role="tab" aria-controls="pills-activities" aria-selected="false">Aktiviteter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-timeline-tab" data-toggle="tab" href="#pills-timeline" role="tab" aria-controls="pills-timeline" aria-selected="false">Tidslinje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-document-tab" data-toggle="tab" href="#pills-document" role="tab" aria-controls="pills-document" aria-selected="false">Dokumenter</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade in active" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities">
                    @Html.Partial("~/Views/PartialViews/Tasks.cshtml")
                </div>
                <div class="tab-pane fade in" id="pills-timeline" role="tabpanel" aria-labelledby="pills-timeline">
                    @Html.Partial("~/Views/PartialViews/Timeline.cshtml")
                </div>
                <div class="tab-pane fade in" id="pills-document" role="tabpanel" aria-labelledby="pills-document">
                    @Html.Partial("~/Views/PartialViews/Document.cshtml")
                </div>
            </div>
        </div>
    </div>
</div><!-- Row Div End -->   

<script src="~/Scripts/instance.js"></script>

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<script src="~/Scripts/task.js"></script>