<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #9C1A5E;
        background-color: #fff;
    }

    .nav-tabs > li.active > a, .nav-tabs > a:hover {
        text-decoration: underline;
    }

    .nav-tabs {
        display: flex;
        justify-content: center;
    }

    .wholeActionsPage {
        display: flex;
        flex-direction: row;
    }

    .activitiesTitleBox {
        margin-left: 50px;
    }

    .stamdataBox {
        width: 18%;
        margin: 60px 0px 0px 60px;
    }
</style>

@{
    ViewBag.Title = "Instance";
}

@Html.Partial("~/Views/PartialViews/TasksWithNote.cshtml")

<div class="wholeActionsPage">
    <div class="stamdataBox">
        @Html.Partial("~/Views/PartialViews/Stamdata.cshtml")
    </div>

    <div class="activitiesTitleBox">
        <div class="row tableDataRow">
            <table class="table table-responsive entityDetailTable">
                <tr>
                    <th class="caseTitle"><span id="instanceTitle"></span></th>
                </tr>
            </table>
        </div><!-- Row End -->

        <div class="row tableDataRow">
            <flex-container>
                <ul class="nav nav-tabs mb-3" id="tabs-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="tabs-activitiesb" data-toggle="tab" href="#tabs-activities" role="tab" aria-controls="tabs-activities" aria-selected="false">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabs-timeline-tab" data-toggle="tab" href="#tabs-timeline" role="tab" aria-controls="tabs-timeline" aria-selected="false">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tabs-document-tab" data-toggle="tab" href="#tabs-document" role="tab" aria-controls="tabs-document" aria-selected="false">Dokumenter</a>
                    </li>
                </ul>
            </flex-container>
            <div class="tab-content" id="tabs-tabContent">
                <div class="tab-pane fade in active" id="tabs-activities" role="tabpanel" aria-labelledby="tabs-activities">
                    @Html.Partial("~/Views/PartialViews/Tasks.cshtml")
                </div>
                <div class="tab-pane fade in" id="tabs-timeline" role="tabpanel" aria-labelledby="tabs-timeline">
                    @Html.Partial("~/Views/PartialViews/Timeline.cshtml")
                </div>
                <div class="tab-pane fade in" id="tabs-document" role="tabpanel" aria-labelledby="tabs-document">
                    @Html.Partial("~/Views/PartialViews/Document.cshtml")
                </div>
            </div>
        </div>
    </div><!-- Cols Div End -->
</div><!-- Row Div End -->   

<script src="~/Scripts/instance.js"></script>

<script type="text/javascript">
    var webPortalType = "Instance";
    var instanceId = getParameterByName("id", window.location.href);

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
<script src="~/Scripts/task.js"></script>